<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <h1>チェックボックス</h1>
    <div>
        <input type="checkbox" id="cb1" v-model="checkedCb1">
        <label for="cb1">{{checkedCb1}}</label>
    </div>

    <h1>複数チェックボックス</h1>
    <div>
        <input type="checkbox" id="cbName1" value="Tokyo" v-model="checkedNames">
        <label for="cbName1">東京</label>

        <input type="checkbox" id="cbName2" value="Osaka" v-model="checkedNames">
        <label for="cbName2">大阪</label>

        <input type="checkbox" id="cbName3" value="Fukuoka" v-model="checkedNames">
        <label for="cbName3">福岡</label>

        <input type="checkbox" id="cbName4" value="Sapporo" v-model="checkedNames">
        <label for="cbName4">札幌</label>
    </div>
    <div>
        {{checkedNames}}
    </div>

    <h1>ラジオボタン</h1>
    <div>
        <input type="radio" id="radioOne" value="One" v-model="picked">
        <label for="radioOne">第一部</label>

        <input type="radio" id="radioTwo" value="Two" v-model="picked">
        <label for="radioOne">第二部</label>
    </div>
    <div>
        {{picked}}
    </div>
</div>
<script src="index.js"></script>
</body>
</html>
