<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Watched Properties</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <h1>フルネームをwatched propertyで生成する</h1>
    <div>
        <p>姓: <input v-model="lastName"></p>
        <p>名: <input v-model="firstName"></p>
        <p>フルネーム: {{fullName}}</p>
    </div>
    <h1>住所をcomputed propertyで生成する</h1>
    <div>
        <p>都道府県: <input v-model="prefName"></p>
        <p>市町村: <input v-model="cityName"></p>
        <p>住所: {{address}}</p>
    </div>
</div>
<script src="index.js"></script>
</body>
</html>